<h1>Like our site?</h1>
<h4>Help a couple of homies out</h4>
<br>
<p>Middle.Place continues to evolve on the wings of donations. If you can spare the change, we'd greatly appreciate your generosity!</p>
<br>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="MQJWVPYM4TEAQ">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<br>
<p>Payments are made through PayPal so all your credit card information is safe.</p>